@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
    background-color:white;
}

header {
    background-color:white;
    padding: 60px;
}

header > h1 {
    color: black;
    text-align: center;
    font-family: Asap, sans-serif;
}

.score-board {
    margin: 20px auto;
    border: 3px solid blue;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: blue;
    font-size: 40px;
    padding: 15px 20px;
    position: relative;
    font-family: Asap, sans-serif;
}

.badge {
    background: red;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 40px;
    color: red;
}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: Asap, sans-serif;
}

.choices {
    margin: 50px 0;
    text-align: center;
}

.choice {
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
}
